.live-bus-container {
  li {
    padding-left: 0.15em;
    padding-right: 0.15em;
  }

  span {
    padding-top: 0.15em;
    padding-bottom: 0.15em;
  }
}

.bus-number {
  font-weight: bold;
  margin-left: 0.25em;
  margin-right: 0.25em;
  color: #000;
  background-color: #fff;
  border-radius: 2px;
  padding-left: 0.3em;
  padding-right: 0.3em;
}
