.time-container {
  display: inline-block;
  letter-spacing: 2px;
  font-weight: normal;
  margin-right: 10px;
  padding: 0;

  h1 {
    font-weight: normal;
    margin: 0 auto;
  }
}

.time-minutes {
  color: darken(#fff, 30%);
}

.time-seconds {
  color: darken(#fff, 50%);
}