.time-container {
  display: inline-block;
  letter-spacing: 2px;
  font-weight: 700;
  margin-right: 10px;
  padding: 0;
  font-family: 'Oxygen', serif;

  h1 {
    font-size: 3em;
    font-weight: normal;
    line-height: 1.4em;
    margin: 0 auto;
  }
}

// .time-minutes {
  // font-weight: 300;
  // color: darken(#fff, 30%);
// }

.time-seconds {
  display: none;
  font-weight: 300;
  // color: darken(#fff, 50%);
}
