// .tube-container {
  // margin: 1em auto;
// }

.tube {
  &-title {
    margin-left: 0.5em;
    font-weight: bold;
    padding: 0.15em 0.3em;
    white-space: nowrap;
    display: inline-block;
    border-radius: 2px;
  }

  &-circle {
    background-color: darken(#FFD300, 10%);
    color: #000;
  }

  &-hammersmith-city {
    background-color: darken(#F3A9BB, 10%);
    color: #000;
  }

  &-northern {
    background-color: #000;
  }

  &-piccadilly {
    background-color: darken(#003688, 10%);
  }

  &-victoria {
    background-color: darken(#0098D4, 10%);
  }
}

.tube-status {
  padding: 0.15em;
}
