// .tube-container {
  // margin: 1em auto;
// }

.tube {
  &-title {
    margin-left: 0.5em;
    font-weight: bold;
    padding: 0.15em;
    white-space: nowrap;
    display: inline-block;
    border-radius: 2px;
  }

  &-circle {
    background-color: #FFD300;
    color: #000;
  }

  &-hammersmith-city {
    background-color: #F3A9BB;
    color: #000;
  }

  &-northern {
    background-color: #000;
  }

  &-piccadilly {
    background-color: #003688;
  }

  &-victoria {
    background-color: #0098D4;
  }
}

.tube-status {
  padding: 0.15em;
}
